<div class="container">
  <mat-table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z5"
    matSort
  >
    <!-- Cylinders Column -->
    <ng-container matColumnDef="blend_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        blend_name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.blend_name }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="origin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        origin
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.origin }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="variety">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        variety
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.variety }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="notes">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        notes
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.notes }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="intensifier">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        intensifier
      </mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.intensifier }} </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row
      (click)="onClick(row); clickedRows.add(row)"
      [class.row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns"
    ></mat-row>
  </mat-table>

  <mat-paginator
    class="mat-elevation-z5"
    [pageSizeOptions]="[10, 20, 30]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
  <app-product-details></app-product-details>
</div>
